img(src="/build/images/smartpad-logo.png", width="468",height="139")
div.wrapper.onepcssgrid-1200(style="border:1px solid blue;")
  div.comingsoon(style="border:1px solid red;")
    div.onerow(style="border:1px solid green;")
      div.logo(style="border:1px solid yellow;")
        img(src="/build/images/smartpad-logo.png", width="468",height="139")
