div.wrapper
  section.image-bg#first
    div.image-opacity
      div.topbar
        div.logo-wrapper
          a#logo(href="#")
        nav
          ul
            li: a.btn(href="#") Home
            li: a.btn(href="#") About
            li: a.btn(href="#") Pricing
            li: a.btn(href="#") Find Roommates
            li: a.btn.btn-orange(href="#") Sign Up
            li.login: a.btn(ng-click='login.showModal()', ui-login) Login

      div.inner-wrapper.onepcssgrid-1200
        div.onerow
          h1 WHERE DO YOU WANT TO RENT
          ul.locations
            li.col4: a.btn.btn-green(href="#", ng-click="home.helloWord()") Alabang
            li.col4: a.btn.btn-green(href="#") Makati
            li.col4.last: a.btn.btn-green(href="#") Ortigas
            li.col4: a.btn.btn-green(href="#") Pasay
            li.col4: a.btn.btn-green(href="#") Quezon City
            li.col4.last: a.btn.btn-green(href="#") Taguig
          h3 Are you looking for a specific place? Type it in below!
          div.search-input
            input(placeholder="Enter your search keyword here")
            a.btn.btn-orange.btn-search Search

  section#second
    div.inner-wrapper.onepcssgrid-1200
      div.onerow
        h2 Why SmartPad?
        h3.testing-sass Test Smartpad SASS
        ul.features
          li.col3
            img.feature.feature1(src="/build/images/icons-sprite.png" width="90" height="90")
            p.
              Cupcake ipsum dolor sit amet sugar plum candy toffee liquorice.
              Donut dessert powder bonbon topping gummi bears tiramisu candy canes.
              Pudding gummies cheesecake fruitcake. Candy jelly-o powder pie sugar plum.
          li.col3
            img.feature.feature2(src="/build/images/icons-sprite.png" width="90" height="90")
            p.
              Cupcake ipsum dolor sit amet sugar plum candy toffee liquorice.
              Donut dessert powder bonbon topping gummi bears tiramisu candy canes.
              Pudding gummies cheesecake fruitcake. Candy jelly-o powder pie sugar plum.
          li.col3
            img.feature.feature3(src="/build/images/icons-sprite.png" width="90" height="90")
            p.
              Cupcake ipsum dolor sit amet sugar plum candy toffee liquorice.
              Donut dessert powder bonbon topping gummi bears tiramisu candy canes.
              Pudding gummies cheesecake fruitcake. Candy jelly-o powder pie sugar plum.

          li.col3.last
            img.feature.feature4(src="/build/images/icons-sprite.png" width="90" height="90")
            p.
              Cupcake ipsum dolor sit amet sugar plum candy toffee liquorice.
              Donut dessert powder bonbon topping gummi bears tiramisu candy canes.
              Pudding gummies cheesecake fruitcake. Candy jelly-o powder pie sugar plum.

  section.image-bg#third
    div.image-opacity
      div.onepcssgrid-1200
        div.onerow
          h2 Are you a room owner
        div.onerow
          div.col6
            ul.room-owner-features
              li.col12.last
                img.ro-feature.ro-feature1.col3(src="/build/images/icons-sprite.png", width="72" height="72")
                p.col9.
                  Cupcake ipsum dolor sit amet sugar plum candy toffee
                  liquorice. Donut dessert powder bonbon topping gummi
                  bears tiramisu candy canes. Pudding gummies cheesecake
                  fruitcake. Candy jelly-o powder pie sugar plum.

              li.col12.last
                img.ro-feature.ro-feature1.col3(src="/build/images/icons-sprite.png", width="72" height="72")
                p.col9.
                  Cupcake ipsum dolor sit amet sugar plum candy toffee
                  liquorice. Donut dessert powder bonbon topping gummi
                  bears tiramisu candy canes. Pudding gummies cheesecake
                  fruitcake. Candy jelly-o powder pie sugar plum.

              li.col12.last
                img.ro-feature.ro-feature1.col3(src="/build/images/icons-sprite.png", width="72" height="72")
                p.col9.
                  Cupcake ipsum dolor sit amet sugar plum candy toffee
                  liquorice. Donut dessert powder bonbon topping gummi
                  bears tiramisu candy canes. Pudding gummies cheesecake
                  fruitcake. Candy jelly-o powder pie sugar plum.
          div.col6.last
            h3 Subscribe and hear from us
            form.ro-form
              input.col12.last.form-field#testid(type="text", placeholder="Your Name", ng-model="input.email")
              input.col12.last.form-field(type="text", placeholder="Your Email", ng-model="input.password")
              button.btn.btn-submit(ng-click="home.login()") Submit

footer
  div.onepcssgrid-1200.footer-wrapper
    div.onerow
      div.col6
        ul
          li: a(href="#") SITEMAP
          li: a(href="#") BLOGS
          li: a(href="#") WE'RE HIRING #[span soon]
        p.copyright.
          Copyright &copy; SmartPad, Inc. All rights reserved.
      div.col6.last
        div.social-media
          a.icon#facebook(href="#")
          a.icon#twitter(href="#")
        p.email.
          hello@smartpad.ph

//- div(uib-timepicker ng-model="mytime" hour-step="15" minute-step="1" show-meridian="true")
