//** Load Bootsrap fonts from this directory.
$bootstrap-sass-asset-helper: false;
$icon-font-path: "/build/fonts/";
$fa-font-path: "/build/fonts" !default;
$template-image-path: '/build/images/';
$template-font-path: '/build/fonts/';
