div.modal-dialog#myModalContent
  .modal-body
    div.row
      .col-md-12
        .form-group
          label(for="email_address") Email Address
          input.form-control#email_address(type="email", ng-model="input.email", placeholder="Email Address")
        .form-group
          label(for="password") Password
          input.form-control#password(type="password",ng-model="input.password", ng-change="")
        a.btn.btn-success(ng-click="loginA()") Login

  //- .modal-headertk
  //-   h3.modal-title#modal-title I'm a modal
  //- .modal-body#modal-body: h3 Content of Modal
  //- .modal-footer
  //-   button.btn.btn-primary(type="button") OK
  //-   button.btn.btn-warning(type="button") Cancel
